* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-main: #1a1d23;

  --gray-500: #f8f8f8;
  --gray-200: #bbbbbb;
  --gray-100: #d7d7d7;

  --text-highlight: #ff57b2;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--background-main);
  width: 100%;
}

body,
input,
textarea,
select,
button {
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
